body {
    text-align:center;
    align-content: center;
}
button {
    margin-bottom:20px;
    width:4rem;
    height:2rem;
    
    
}

#conatiner {
    margin:auto;
    display: block;
    width:800px;
    height:800px;
    background-color: white;
    box-shadow: inset 0px 0px 20px black;
    border-radius:20px;
    font-size:0;
    border: silver 4px solid;
}

#box-style {
    display:inline-block;
    margin:0px;
    
}

.black {
    background-color:black;
}